:root {
  --site-main-color-green: #B5BDA1;
  --site-secondary-color-green: #E3E3E3;
  --site-main-color-brown: #45200D;
  --site-secondary-color-brown: #73594B;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Poppins", sans-serif;
}

/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

h1 {
  font-size: 4.5rem;
  margin-bottom: 15px;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3.25rem;
}

h6 {
  font-size: 2rem;
}

p {
  font-weight: 600;
}

.wrapper {
  display: grid;
  grid-template-columns: 100px 1fr 1fr 100px;
  grid-template-rows: 200px 500px 1fr 654px 200px;
}

.site-body {
  grid-column: 2/4;
  grid-row: 3;
}

.heading--brown {
  color: var(--site-main-color-brown);
}

.heading--green {
  color: var(--site-main-color-green);
}

.button {
  display: block;
  width: max-content;
  text-decoration: none;
  padding: 10px 18px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 600;
  margin-top: 25px;
}

.button--green {
  background: var(--site-main-color-green);
  color: var(--site-main-color-brown);
}

.button--brown {
  background: var(--site-secondary-color-brown);
  color: var(--site-secondary-color-green);
}

.heading--center {
  text-align: center;
}

.site-header {
  grid-column: 1/-1;
  grid-row: 1;
  background: var(--site-main-color-green);
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  font-weight: 600;
}
.site-header .site-header__wrapper {
  grid-column: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-header .site-header__logo {
  width: 197px;
  height: 195px;
}
.site-header .site-header__locations-hours {
  font-size: 18px;
}

.site-banner {
  grid-column: 1/-1;
  grid-row: 2;
  background: var(--site-secondary-color-brown);
  margin-bottom: 50px;
}
.site-banner img {
  margin: auto;
  min-width: 100%;
  height: 450px;
}

.introduction {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 70px;
  margin-bottom: 100px;
}
.introduction .introduction__image {
  min-width: 100%;
}

.service-cards {
  margin-bottom: 100px;
}

.service-cards-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  justify-items: center;
  width: 100%;
  max-width: 1240px;
  margin: auto;
}

.single-service-card {
  width: 100%;
  max-width: 300px;
  border: 5px solid black;
  border-radius: 50px;
}

.single-service-card {
  width: 100%;
  max-width: 300px;
  border: 5px solid black;
  border-radius: 50px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 10px;
}

.single-service-card--image {
  display: block;
  width: 100%;
  max-width: 190px;
}

.swiper {
  width: 100%;
}

.testimonials-slider {
  margin-top: 30px;
  height: 430px;
}

.testimonials-slider__image {
  display: block;
  margin: auto;
  width: 150px;
  height: 150px;
  border-style: solid;
  border-width: 8px;
  border-color: var(--site-main-color-green);
  border-radius: 100px;
  margin-bottom: 30px;
}

.testimonials-slider__copy {
  font-weight: 500;
  width: 100%;
  max-width: 700px;
  margin: auto auto 10px auto;
}

.testimonials-slider__author {
  color: var(--site-main-color-brown);
  font-weight: 600;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
}

.swiper-pagination-bullet {
  background: #727272;
  width: 15px;
  height: 15px;
}

.swiper-pagination-bullet-active {
  background: var(--site-main-color-green);
  width: 15px;
  height: 15px;
}

.services {
  grid-column: 1/-1;
  grid-row: 4;
}
.services h2 {
  margin-bottom: 50px;
}

.service-row {
  display: grid;
  grid-template-columns: 100px 1fr 1fr 100px;
  align-items: center;
}
.service-row .service-row__image {
  height: 100%;
  min-width: 100%;
  max-height: 508px;
  object-fit: cover;
  grid-column: 1/3;
}
.service-row .service-row-copy {
  grid-column: 4;
  padding-left: 70px;
  grid-column: 3;
}

footer {
  background: var(--site-main-color-green);
  grid-column: 1/-1;
  grid-row: 5;
}

/*# sourceMappingURL=style.css.map */
