@use 'config' as *;
.home-form {
  grid-column: 2 /4;
  margin-bottom: 30px;
  margin-top: 30px;
  h3 {
    font-size: 2rem;
  }

  h6 {
    font-size: 1.125rem;
    margin-bottom: 25px;
  }
  @media (min-width: $desktop) {
    h3 {
      font-size: 3.25rem;
    }
    h6 {
      font-size: 2rem;
    }
  }
}

.home-form__wrapper {
  margin: auto;
  max-width: 100%;
  width: 700px;
}

.wpcf7 {
  margin: 0 20px;
}

.wpcf7-form-control {
  border-radius: 8px;
  border: 2px solid #000000;
  height: 50px;
  width: 100%;
}

.wpcf7-form p {
  font-size: 1.2rem;
  @media (min-width: $desktop) {
    font-size: 1.75rem;
  }
}

.wpcf7-submit {
  border: none;
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100px;
}

.form-group {
  @media (min-width: $desktop) {
    p {
      align-items: flex-start;
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }
  }
}

.form-group__form-field {
  display: block;
  margin-bottom: 14px;
  max-width: 100%;
  @media (min-width: $desktop) {
    margin-bottom: unset;
    width: 310px;
  }
}

.wpcf7-not-valid-tip {
  font-size: 1rem;
}

.contact-information {
  grid-template-columns: 1fr;
  gap: 80px;
  margin-bottom: 40px;
  @media (min-width: $tablet) {}
  @media (min-width: $desktop) {
    display: grid;
  }
  @media (min-width: $widescreen) {
    margin-bottom: 150px;
    grid-template-columns: 1fr 1fr;
  }
  h5 {
    margin-bottom: 20px;
  }
}

.contact-information__form {
  background: var(--site-main-color-green);
  border-radius: var(--round-md);
  max-width: 100%;
  margin: auto;
  padding-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 40px;
  width: 525px;
  @media (min-width: $widescreen) {
    margin: unset;
    margin-left: auto;
  }
  .form-group__form-field {
    @media (min-width: $desktop) {
      margin-left: auto;
      width: 227px;
    }
  }
  .home-form {
    margin-bottom: 0;
  }
  /* This isn't great practice and a bit hacky */
  .button--green {
    background: var(--site-secondary-color-brown);
    color: var(--site-secondary-color-green);
  }  
}

.contact-information__options {
  margin: auto;
  max-width: 100%;
  width: 315px;
  @media (min-width: $widescreen) {
    margin-left: 0;
    width: 600px;
  }
  a {
    color: black;
    text-decoration: none;
    &:hover {
      color: var(--site-secondary-color-brown);
    }
  }
}

.contact-information__options__contact {
  align-items: flex-start;
  display: flex;
  gap: 15px;
  img {
    width: 20px;
    @media (min-width: $tablet) {
      width: 30px;
    }
    @media (min-width: $desktop) {
      width: unset;
    }
  }
  p {
    font-size: 1.2rem;
    margin-bottom: 15px;
    @media (min-width: $desktop) {
      font-size: 1.75rem;
    }
  }
}

.review-platforms {
  display: flex;
  gap: 30px;
  img{
    height: 138px;
    width: 138px;
  }
}

.contact-information__options__contact {
  align-items: flex-start;
  display: flex;
  gap: 15px;
}