:root {
  --site-main-color-green: #B5BDA1;
  --site-secondary-color-green: #E3E3E3;
  --site-main-color-brown: #45200D;
  --site-secondary-color-brown: #73594B;
  --button-click: #9aa287;
  --shadow: 3px 3px 6px 0px #717171;
}