@use 'config' as *;
footer {
  background: var(--site-main-color-green);
  grid-column: 1/-1;
  grid-template-columns: 1fr;

  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    padding-top: 30px;
    padding-bottom: 10px;
  }
}

footer > * {
  grid-column: 2;
}

.footer__wrapper {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  @media (min-width: $desktop) {
    flex-flow: row;

    a,img {
      align-self: self-start;
      display: flex;  
    }
  }
}

.footer__logo {
  width: 197px;
  height: 195px;
}

.footer__secondary-logo {
  max-width: 235px;
  max-height: 128px;
  height: 100%;
  width: 100%;
}

.footer__text {
  max-width: 100%;
  margin-bottom: 10px;
  @media (min-width: $widescreen) {
    width: 700px;
  }
}

.footer__text__top {
  text-align: left;
  @media (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
    font-size: 1.125rem;
    margin-bottom: 40px;
  }
}

.footer__text__bottom {
  text-align: center;
  a {
    display: inline;
    text-decoration: none;
    color: black;
    &:hover {
      color: var(--site-main-color-brown);
    }
  }
}

.footer__navigation {
  font-weight: 600;
  li {
    &:hover {
      color: var(--site-main-color-brown);
    }
  } 
}

.footer__contact {
  font-weight: 500;
}