@use 'config' as *;
.photo-gallery {
  justify-content: center;
  @media (min-width: $tablet) {}
  @media (min-width: $desktop) {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, 580px);
  }
  @media (min-width: $widescreen) {}
}

.photo-gallery__group {
  position: relative;
  width: 470px;
  max-width: 100%;
  @media (min-width: $tablet) {
    margin: auto;
  }
  @media (min-width: $desktop) {
    margin: 100px auto;
    height: 230px;
  }
}

.photo-gallery__photo {
  width: 250px;
  max-width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: var(--round-md);
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: $tablet) {}
  @media (min-width: $desktop) {
    margin-bottom: unset;
    position: absolute;
    transition: margin 0.2s ease-in-out;
    transition-delay: 200ms;
    &:hover {
      margin-bottom: 100px;
    }
  }
  @media (min-width: $widescreen) {}
}

@media (min-width: $desktop) {
  .photo-gallery__photo--first {
    rotate: -18deg;
    z-index: 1;
    transition: margin 0.2s ease-in-out;
    &:hover {
      transition-delay: 500ms;
      margin-top: -50px;
    }
  }

  .photo-gallery__photo--second {
    rotate: -14deg;
    left: 38px;
    bottom: 37px;
    z-index: 2;
  }
  
  .photo-gallery__photo--third {
    rotate: -7deg;
    left: 93px;
    bottom: 46px;
    z-index: 3;
  }
  
  .photo-gallery__photo--forth {
    rotate: 0deg;
    left: 134px;
    bottom: 46px;
    z-index: 4;
  }
  
  .photo-gallery__photo--fifth {
    rotate: 10deg;
    left: 181px;
    bottom: 20px;
    z-index: 5;
  }
  
  .photo-gallery__photo--sixth {
    rotate: 18deg;
    left: 234px;
    bottom: -7px;
    z-index: 6;
  }
}

.heading__photo-gallery {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  @media (min-width: $tablet) {}
  @media (min-width: $desktop) {
    position: absolute;
    top: -130px;
  }
  @media (min-width: $widescreen) {}
}