.picture-with-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 50px;
  .picture-with-list__image {
    max-width: 100%;
    border-radius: 8px;
  }

  .picture-with-list__content {
    padding-left: 70px;
  }

  .paw-print-list {
    margin-left: 50px;
  }

  .button {
    margin-left: 50px;
  }
}

