@use 'config' as *;
.service-cards {
  margin-bottom: 100px;
}

.service-cards-group {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
  margin: auto;
  max-width: 1240px;
  width: 100%;
  @media (min-width: $desktop) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0
  }
}

.single-service-card {
  border-radius: 50px;
  border: 5px solid black;
  box-: var(--);
  color: var(--site-main-color-brown);
  display: block;
  max-width: 300px;
  text-decoration: none;
  transition: transform 250ms;
  width: 100%;
  a {
    color: var(--site-main-color-brown);
  }

  &:visited {
    color: var(--site-main-color-brown);
  }

  &:hover {
    transform: translateY(-10px);
  }
}

.single-service-card {
  align-items: center;
  border-radius: 50px;
  border: 5px solid black;
  display: flex;
  flex-flow: column;
  justify-content: center;
  max-width: 300px;
  padding: 20px 20px 10px;
  width: 100%;
}

.single-service-card--image {
  display: block;
  max-width: 190px;
  width: 100%;
}