@use 'config' as *;

.services {
  grid-column: 1/-1;
  h2 {
    margin-bottom: 50px;
  }
}

.service-row {
  display: grid;
  overflow: hidden;
  position: relative;
  grid-template-columns: 1fr;
  align-items: center;
  padding: 25px 25px;
  @media (min-width: $tablet) {
    padding: 50px 50px;
  }
  @media (min-width: $desktop) {
    grid-template-columns: 100px 1fr 1fr 100px;
    padding: initial;
  }
  @media (min-width: $widescreen) {
    text-align: justify;
  }
  .service-row__image {
    display: none;
    grid-column: 1 / 3;
    height: 100%;
    min-width: 100%;
    object-fit: cover;
    @media (min-width: $desktop) {
      display: block;
    }
    @media (min-width: $widescreen) {
      max-height: 508px;
    }
  }

  .service-row__image--reversed {
    grid-column: 3 /-1;
    z-index: 1;
  }

  .service-row-copy {
    grid-column: 3;
    @media (min-width: $desktop) {
      padding-left: 70px;
    }
    .heading {
      margin-bottom: 10px;
      @media (min-width: $desktop) {
        margin-bottom: unset;
      }
    }
  }

  .service-row-copy--reversed {
    grid-column: 2;
    grid-row: 1;
    padding-left: 0;
    @media (min-width: $desktop) {
      padding-right: 70px;
    }
  }

  .service-row-copy--green {
    color: var(--site-secondary-color-green);
  }  
}

.service-row--green {
  background: var(--site-main-color-green);
}

.service-row--brown {
  background: var(--site-secondary-color-brown);
  position: relative;
}

.paw-print-trail img {
  //Currently hiding pawprints on mobile, need to be completely pixel base for mobile
  display: none;
  @media (min-width: $tablet) {
    display: block;
    position: absolute;
    transform: rotate(38deg);
    width: 25px;
    width: 54px;
  }
}

.paw-print-trail__1 {  bottom: 18%;
  right: -1px;
  @media (min-width: $tablet) {
    bottom: 32%;
    right: -22px;
  }
}

.paw-print-trail__2 {
  bottom: 11%;
  right: -13px;
  @media (min-width: $tablet) {
    bottom: 9%;
    right: -22px;
  }
}

.paw-print-trail__3 {
  bottom: 11%;
  right: 34px;
  @media (min-width: $tablet) {
    bottom: 22%;
    right: 30px;
  }
}

.paw-print-trail__4 {
  bottom: 4%;
  right: 6px;
  @media (min-width: $tablet) {
    bottom: 10%;
    right: 75px;
  }
}

.paw-print-trail__5 {
  bottom: -2%;
  right: 39px;
  @media (min-width: $tablet) {
    bottom: -2%;
    right: 22px;
  }
}

.paw-print-trail__6 {
  bottom: 4.5%;
  right: 60px;
  @media (min-width: $tablet) {
    bottom: -2%;
    right: 123px;
  }
}

//These are for the flipped service row
//Too many issues with these right now and not consistent between screen sizes. 
//Come back and work on these maybe in future release
//Need to be completely pixel base, might have to base them on another Dom element vs regular service row
.service-row--brown {
  .paw-print-trail__1, .paw-print-trail__2, .paw-print-trail__3, .paw-print-trail__4, .paw-print-trail__5, .paw-print-trail__6  {
    display: none;
  }
}