.site-banner {
  grid-column: 1 / -1;
  grid-row: 2; 
  background: var(--site-secondary-color-brown);
  margin-bottom: 50px;
  img {
    object-fit: cover;
    margin: auto;
    min-width: 100%;
    height: 450px;
  }
}