@use 'config' as *;
.site-banner {
  position: relative;
  grid-column: 1 / -1;
  grid-row: 2; 
  background: var(--site-secondary-color-brown);
  margin-bottom: 20px;
  @media (min-width: $tablet) {}
  @media (min-width: $desktop) {
  }
  @media (min-width: $widescreen) {}
  img {
    object-fit: cover;
    margin: auto;
    min-width: 100%;
    height: 450px;
    filter: contrast(63%) grayscale(9%);
  }

  .site-banner__emblem {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 14px;
    z-index: 1;
    filter: contrast(100%);
  }
}

