@use 'config' as *;
.site-header {
  background: var(--site-main-color-green);
  box-shadow: 0px 4px 10px #413939;
  position: relative;
  z-index: 2;
  font-weight: 600;
  height: 100px;
  @media (min-width: $desktop) {
    display: grid;
    grid-column: 1 / -1;
    grid-row: 1;
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: 50px 110px;
    height: 100%;
    & > * {
      grid-column: 2;
    }
  }

  .site-header__wrapper {
    align-items: center;
    display: flex;
    flex-flow: column;
    grid-column: 2;
    justify-content: space-between;
    @media (min-width: $desktop) {
      flex-flow: row;
    }
  }

  .site-header__logo {
    display: none;
    height: 195px;
    width: 197px;
    @media (min-width: $desktop) {
      display: block;
    }
  }

  .site-header__locations-hours {
    margin-bottom: 20px;
    text-align: center;
    @media (min-width: $desktop) {
      margin-bottom: initial;
      text-align: initial;
    }
  }

  .header-contact {
    align-items: center;
    color: black;
    display: flex;
    gap: 25px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    text-align: center;
    @media (min-width: $desktop) {
      font-size: 20px;
      gap: 10px;
      justify-content: end;
      margin-bottom: initial;
      margin-top: 10px;
      padding-top: unset;
      text-align: initial;
    }
    a {
      color: black;
      display: flex;
      text-decoration: none;
    }

    p {
      display: none;
      @media (min-width: $desktop) {
        display: block;
      }
    }

    img {
      object-fit: contain;
      width: 50px;
      @media (min-width: $desktop) {
        width: 30px;
      }
    }
    
    .header-contact__envelope {
      @media (min-width: $desktop) {
        margin-right: 10px;
      }
    }

    .header-contact__phone-icon {
      @media (min-width: $desktop) {
        margin-right: 10px;
      }
    }
  }

  .site-header__navigation-links {
    display: none;
    a {
      color: black;
      text-decoration: none;     
      &:hover {
        color: var(--site-main-color-brown); 
      }
    }
    @media (min-width: $desktop) {
      display: flex;
      position: relative;
      justify-content: space-between;
      max-width: 100%;
      width: 600px;
      li {
        font-size: 1.5rem;
        font-weight: 600;
        // Play around with if want animations for nav
        //transition: margin 0.2s ease-in-out;
        &:focus {
          color: var(--site-main-color-brown);
          //Part of nav animation
          //margin-top: -3px;
          .sub-menu {
            display: block;
            -webkit-animation-duration: 0.7s;
            animation-duration: 0.7s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;     
            -webkit-animation-name: fadeIn;
            animation-name: fadeIn;               
          }          
        }
        &:hover {
          color: var(--site-main-color-brown);
          //Part of nav animation
          //margin-top: -3px;
          .sub-menu {
            display: block;
            -webkit-animation-duration: 0.7s;
            animation-duration: 0.7s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;     
            -webkit-animation-name: fadeIn;
            animation-name: fadeIn;    
          }

          @-webkit-keyframes fadeIn {
              0% {opacity: 0;}
              100% {opacity: 1;}
          }
          
          @keyframes fadeIn {
              0% {opacity: 0;}
              100% {opacity: 1;}
          }
        
        }  
      }
    }
    @media (min-width: $widescreen) {
      width: 920px;
    }
  }  
}

.sub-menu {
  background: none;
  @media (min-width: $desktop) {
    display: none;
    position: absolute;
    border-radius: 5px;
    top: 2rem;
    z-index: 99999;
    width: max-content;
    background: #8b9966;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);

    a {
      color: black;
      text-decoration: none;     
      &:hover {
        color: black !important; 
      }
    }

    ul {
      -webkit-animation-duration: 0.5s;
      animation-duration: 0.5s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;     
      -webkit-animation-name: fadeOut;
      animation-name: fadeOut;    
    }
  }

  li {
    padding: 10px 13px;
    &:hover {
      background-color: #767e61;
      border-radius: 5px;
    }
  }
}

@-webkit-keyframes fadeOut {
  100% {opacity: 0;}
  0% {opacity: 1;}
}

@keyframes fadeOut {
  100% {opacity: 0;}
  0% {opacity: 1;}
}